.tile {
    margin-right: auto;
    margin-left: auto;
    margin-top: 20px;
    margin-bottom: 140px;
    
}
.tile1 {
    background-color: #c2e7c5;
}
.tile2 {
    background-color: #c2e7c5;
}
.is-ancestor{
    margin-top: 200px;
    margin-bottom: 0px;
   
}
